{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">          
{% endblock %}


{% block content %}
    {% if request.user.is_authenticated %}
        <div class="row m-0">
            <div class="col-12 p-3">
                <a class="button" href="#">Staff Management</a>               
            </div>
        </div>        
        <div class="row m-0">
            <div class="col-12 p-3">
                <a class="button" href="#">Pay Management</a>
            </div>
        </div>         
    {% else %}
        <div class="text-center h1 text-dark login-text">Please login</div>
    {% endif %}   
{% endblock %}