.content {
    background: rgb(207, 202, 202);
      
}

.login-text {
   padding-top: 200px;
}

.button {    
    background: black;
    color: white;
    border-radius: 0;
    padding: 10px;
    text-decoration: none;
}

.button:hover {   
    color: rgb(59, 56, 56);   
}
