.content {
    background: rgb(207, 202, 202);
}

.login-text {
    font-weight: 800;
    font-size: 50px;
    padding-top: 175px !important;
}

.login-text:hover {
    color:rgb(104, 102, 102);
}

.button {    
    background: black;
    color: white;
    border-radius: 0;
    padding: 10px;
    text-decoration: none;
}

.button:hover {   
    color: rgb(59, 56, 56);   
}
