{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'pay_management/css/pay.css' %}">          
{% endblock %}


{% block content %}    
    <h1 class="text-center">Salary Details: {{staff.first_name}} </h1>
    <a href="{% url 'pay' %}" class="btn button p-1 m-2">Back</a>    
    <a href="{% url 'add_salary' staff_id=staff.id %}" class="btn button p-1 m-2">+ Salary</a>    
    <div class="row m-0 text-center salary">
        <div class="col-1">No</div>
        <div class="col-3">Date</div>
        <div class="col-2">Gross Salary</div>
        <div class="col-6"></div>  
    </div>
    <div class="col-12 border-bottom border-dark"></div>      
    {% for salary in salaries %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="row m-0 text-center salary">
                <div class="col-1 ml-2 bg-secondary">
                    {{salary.id}}
                </div>
                <div class="col-3 bg-secondary">
                    {{salary.created_at|date:"M-Y"}}
                </div>
                <div class="col-2 bg-secondary">
                    {{salary.net_salary}}
                </div>
                <div class="col-6 p-0 bg-secondary">
                    <div class="row m-0">
                        <div class="col-4">
                            <a href="#" id="open-view-salary-modal-{{ salary.id }}" class="text-primary view-salary-modal">View</a>
                        </div>
                        <div class="col-4 text-danger">
                            <a href="#" id="open-salary-deletion-modal-{{ salary.id }}" class="text-danger salary-deletion-modal">Delete</a>
                        </div>
                        <div class="col-4 text-success">
                            <a href="{% url 'salary_update' salary_id=salary.id %}" class="text-success">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="row m-0 text-center salary">
            <div class="col-1 ml-2">
                {{salary.id}}
            </div>
            <div class="col-3">
                {{salary.created_at|date:"M-Y"}}
            </div>
            <div class="col-2">
                {{salary.net_salary}}
            </div>
            <div class="col-6 p-0">
                <div class="row m-0">
                    <div class="col-4">
                        <a href="#" id="open-view-salary-modal-{{ salary.id }}" class="text-primary view-salary-modal">View</a>
                    </div>
                    <div class="col-4 text-danger">
                        <a href="#" id="open-salary-deletion-modal-{{ salary.id }}" class="text-danger salary-deletion-modal">Delete</a>
                    </div>
                    <div class="col-4 text-success">
                        <a href="{% url 'salary_update' salary_id=salary.id %}" class="text-success">Update</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Confirm salary deletion modal -->
        <div id="delete-salary-modal-{{ salary.id }}" class="modal confirm-modal mx-auto">
            <div class="modal-content mt-2 bg-danger pb-2 pt-1">
                <div class="row m-0">  
                    <div class="col-12 close-modal"><div class="close-button btn p-0 text-light">X</div></div>
                </div> 
                <div class="row m-0">                                 
                    <div class="col-12 text-center text-light delete">Do you want to delete {{ staff.first_name }} salary?</div>                       
                </div>              
                <div class="row w-25 mx-auto text-center mt-3">
                    <a href="{% url 'salary_delete' salary_id=salary.id %}" class="col-12 confirm btn button border border-light text-light">Confirm</a>            
                </div>
            </div>    
        </div>
        <!-- View salary modal -->
        <div id="view-salary-modal-{{ salary.id }}" class="modal view-modal mx-auto">
            <div class="modal-content mt-2 pb-2 pt-1">                
                <div class="row m-0">                                 
                    <div class="col-12 text-center text-dark delete">{{salary.staff}}</div>                       
                </div>              
                <div class="row w-25 mx-auto text-center mt-3">
                    <a href="#" class="col-6 confirm btn button border border-light text-light">Confirm</a>            
                    <a href="#" class="col-6 confirm btn button border border-light text-light close-button">Close</a>            
                
                </div>
            </div>    
        </div>          
    {% endfor %}    
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'pay_management/js/pay.js' %}" type="text/javascript"></script>
{% endblock %}