.content {
    background: linear-gradient(to right, rgb(212, 212, 212) , rgb(255, 255, 255));
    background-size: cover;
}

.bg-secondary {
    background-color: rgb(209, 205, 205) !important;
}

.bg-danger {
    background: rgba(255, 0, 0, 0.7) !important;
}

.search-button {
    height: 30px;
    line-height: 14px;
}

.add-salary-form {
    width: 25%;
}
 /* modal */
.confirm-modal {
    width: 40%;
    left: 30%;
    top: 33%;
}

.view-modal {
    top: 20%;
    width: 90%;
    left: 5%;    
}

@media screen and (max-width: 992px){
    .add-salary-form {
        width: 40%;
    }
    
    .confirm-modal {
        width: 50%;
        left: 25%;        
    }
}

@media screen and (max-width: 576px){
    .search-button {
        height: 28px;
        line-height: 14px;
    }
    
    .delete {
        font-size: 12px;
    }

    .salary {
        font-size: 12px;
    }

    .form-control {
        height: 28px;
    }

    .add-salary-form {
        width: 75% !important;
    }
    
    .confirm-modal {
        width: 75%;
        left: 12.5%;        
    }
}