a {
    text-decoration: none;
}
.content {
    background: linear-gradient(to right, rgb(212, 212, 212) , rgb(255, 255, 255));
    background-size: cover;
}

.staff-column a {
    text-decoration: none;
}

.bg-secondary, .text-custom{
    background-color: rgb(170, 168, 168) !important;
}

.text-custom {
    color: rgb(170, 168, 168);
}

.staff-name {
    text-decoration: none;
}

.links {
    margin-left: 10px;
}

.staff-name:hover {
    color: rgb(151, 147, 147) !important;
}

img {
    width: 100%;
    padding: 10px;
}

.delete {
    background: red;
}

.update {
    background: rgb(51, 168, 47);
}

.search-button {
    height: 30px;
}

.search-button:hover {
    background: rgb(90, 88, 88) !important;
}

.search-button .text {
    line-height: 10px;
}

.custom-select {
    height: 30px;
}

/* forms */
.add_staff-form-input, .add_leave-form-input {
    height: 30px;
    line-height: 15px;
}

.add_staff-form-input::placeholder {
    color: #aab7c4;
}

.form-control {
    color: #000000;    
}

.addStaff #div_id_image {
    display: none !important;
}

.input-group-text {
    margin-top: 4px;
    border-radius: 0;
}

.image-icon {
    height: 50px;
    width: 50px;
}

/*sick leave table */
.sick-table-text {
    font-size: 16px;    
}
 
.sick-table-text a {    
    text-decoration: none !important;
}

.sick-back-button {
    margin-left: 10px;
}
/* sick chart */
#myChart {
    background: lightgray;
    width: 100;
    max-width: 600px;
    display: none;
    position: absolute;
    top: 200px;
    left: 20px;    
}

#myChartLeave {
    background: lightgray;
    width: 100;
    max-width: 600px;
    display: none;
    position: absolute;
    top: 200px;
    left: 20px;    
}

#myChartLeavePlanner {
    background: lightgray;
    width: 100;
    max-width: 600px;
    display: none;
    position: absolute;
    top: 200px;
    left: 20px;    
}

/* modal */
.close-modal {
    height: 20px;
    text-align: right;
}
.confirm-modal {
    opacity: 0.9;
}

/* media screen repoonsive design */
@media screen and (max-width: 992px){
    .add-staff-form {
        width: 40% !important;
    }    
} 

@media screen and (max-width: 768px){   
    .add-staff-form {
        width: 60% !important;
    }

    .sick-table-text {
        font-size: 14px;
    }
    
} 

@media screen and (max-width: 576px){    
    .add-staff-form {
        width: 75% !important;
    }
    
    .sick-table-text {
        font-size: 12px;    
    }
}
    

