.content {
    background: lightcyan;
}

.staff-name {
    text-decoration: none;
}

.links {
    margin-left: 10px;
}

img {
    width: 150px;
}

.delete {
    background: red;
}

.update {
    background: rgb(51, 168, 47);
}