{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'staff/css/staff.css' %}">          
{% endblock %}


{% block content %}
    <canvas id="myChart"></canvas>
    <div class="text-center h1 mb-2">Sick Data</div>
    <a href="{% url 'staff' %}" class="btn bg-dark text-light sick-back-button button mb-2">Back</a>
    <a href="#" class="btn bg-danger text-light sick-back-button button mb-2 reset-sick">Reset Sick</a>
    
    <div class="btn bg-dark text-light sick-back-button button mb-2 close-data">Close</div>
    <div class="year-form p-2">   
        <form action="{% url 'sick_data' %}" method="GET" class="border-dark rounded-0 mx-auto" id="data-year" placeholder="{{ year }}">            
            <select id="year" name="q">
                <option value="All">All</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>            
            <div class="btn bg-dark text-light sick-back-button button mb-2 show-data">Graph</div>                       
        </form>
        <div class="text-dark text-center h2">{{ year }}</div>  
   </div>      
    <div class="row m-0 mb-2 text-center border-bottom border-dark">
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 col-md-2">Name</div>
        <div class="col-5 col-md-3 col-lg-2">Start date</div>
        <div class="col-1">Days</div>
        <div class="col-1 col-md-4 col-lg-5"></div>
    </div>
    <div class="row m-0 text-center">
        {% for sick in all_sick %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-1"></div>
                <div class="col-1">{{ forloop.counter }}</div>
                <a href="{% url 'sick_leave_taken' sick.staff.id %}" class="col-3 col-md-2">{{ sick.staff.first_name }}</a>
                <div class="col-5 col-md-3 col-lg-2">{{ sick.start_date }}</div>
                <div class="col-1">{{ sick.days}}</div>
                <div class="col-1 col-md-4 col-lg-5"></div>
            {% else %}
                <div class="col-1"></div>
                <div class="col-1 bg-secondary">{{ forloop.counter }}</div>
                <a href="{% url 'sick_leave_taken' sick.staff.id %}" class="col-3 col-md-2 bg-secondary">{{ sick.staff.first_name }}</a>
                <div class="col-5 col-md-3 col-lg-2 bg-secondary">{{ sick.start_date }}</div>
                <div class="col-1 bg-secondary">{{ sick.days}}</div>
                <div class="col-1 col-md-4 col-lg-5"></div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        var sickData = JSON.parse('{{ sick_data | escapejs }}');
    </script>
    <!-- Confirm staff sick reset modal -->
    <div id="reset-sick-modal" class="modal confirm-modal mx-auto">
        <div class="modal-content mt-2 bg-danger pb-2 pt-1">
            <div class="row m-0">  
                <div class="col-12 close-modal"><div class="btn p-0 text-light">X</div></div>
            </div> 
            <div class="row m-0">                                 
                <div class="col-12 bg-danger text-center text-light delete">Reset to be done on the 1st Jan!</div>                       
            </div>              
            <div class="row w-25 mx-auto text-center mt-3">
                <a href="{% url 'sick_reset' %}" class="col-12 confirm btn button border border-dark text-light">Confirm</a>            
            </div>
        </div>    
    </div>      
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>                 
    <script src="{% static 'staff/js/staff.js' %}" type="text/javascript"></script>     
{% endblock %}